name: QA Lab (Self)

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  qa:
    uses: josemathias/qa-lab/.github/workflows/qa-lab.yml@main
    with:
      tenant_key: "ligacoop"
      repo_slug: "qa-lab"
      build_id: "${{ github.run_id }}"
      workdir: "."
      l0_command: "npm test"
      l1_command: ""
      node_version: "20"
      s3_bucket: "qa-lab-results-dev"
      s3_prefix: "dev"
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      QA_DB_URL: ${{ secrets.QA_DB_URL }}
